body{
  margin: 0;
  background-color: aliceblue;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.container{
  background-color: burlywood;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 600px;
  border-radius: 22px;
  padding: 20px;
}

form{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
form input[type="text"]{
  padding: 0 10px;
  border: none;
  outline: none;
  font-size: 18px;
  width: 60%;
}

form input[type = "submit"]{
  border: none;
  outline: none;
  margin-left: 2px;
  font-size: 15px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius:15px;
}

form input[type = "submit"]:hover{
  background-color: gold;
  color: #333;
  transition: 0.1s;
}

.icon img{
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperture{
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0;
}

.description{
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.details{
  display: flex;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
  font-size: 16px;
  font-weight: 400px;
}

.details > div{
  flex: 1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  min-height: 40px;
  background-color: #333;
  color: yellow;
}

@media (max-width: 768px){
  form{
    flex-direction: column;
  }

  form input[type="text"]{
    width: 60%;
    margin-bottom: 10px;
  }

  .details{
    flex-direction: column;
  }

  .container{
    margin-top: 0px;
  }
}